.div_first {
    position: relative;
    overflow: hidden;
}

.a_first {
    color: #eee;
    font-size: 12px;
    position: absolute;
    top: 0px;
}

.a_second {
    color: #eee;
    font-size: 12px;
    position: absolute;
    top: 14px;
}

.a_third {
    color: #eee;
    font-size: 12px;
    position: absolute;
    top: 28px;
}

.iframe {
    position: relative;
}